.Footer {
  margin-top: 25px;
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  padding-top: 30px;
}

.Footer a {
  text-decoration: none;
  color: #7c73e6;
}

.Footer a:hover {
  text-decoration: underline;
}
