.Synonyms {
  margin: 12px 0 25px;
}

.Synonyms ul {
  padding-left: 0;
}

.Synonyms li {
  padding: 5px 10px;
  list-style: none;
  border-radius: 6px;
  background-color: rgba(196, 193, 224, 0.4);
}
